{% extends 'base2.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Welcome, {{ admin.admin_name }}!</h1>
    <p>You are logged in as an administrator.</p>

    <div class="row mt-4">
        <div class="col-md-6">
            <a href="{{ url_for('main.manage_products') }}" class="btn btn-primary btn-lg btn-block mb-3">Manage Products</a>
        </div>
        <div class="col-md-6">
            <button onclick="logout()" class="btn btn-danger btn-lg btn-block">Logout</button>
        </div>
    </div>
</div>

<script>
function logout() {
    localStorage.removeItem('admin_token');
    document.cookie = 'access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
    window.location.href = '/admin/signin';
}
</script>
{% endblock %}