{% extends 'base.html' %}

{% block title %}Home - MedKart{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
<style>
  body{
    overflow: hidden;
  }
</style>
{% endblock %}

{% block content %}

<div>
     <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container2">
      <div class="row">
        <div class="custom_heading-container ">
          <h2>
            Request A call back
          </h2>
        </div>
      </div>
    </div>
    <div class="container2 layout_padding2">
      <div class="row">
        <div class="col-md-5">
          <div class="form_contaier">
            <form>
              <div class="form-group2">
                <label for="exampleInputName1">Name</label>
                <input type="text" class="form-control2" id="exampleInputName1">
              </div>
              <div class="form-group2">
                <label for="exampleInputNumber1">Phone Number</label>
                <input type="text" class="form-control2" id="exampleInputNumber1">
              </div>

              <div class="form-group2">
                <label for="exampleInputEmail1">Email </label>
                <input type="email" class="form-control2" id="exampleInputEmail1">
              </div>

              <div class="form-group2">
                <label for="exampleInputMessage">Message</label>
                <input type="text" class="form-control2" id="exampleInputMessage">
              </div>
              <button type="submit" class="">Send</button>
            </form>
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <h3>
              Get Now Medicines
            </h3>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}