{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form method="POST">
            {{ form.hidden_tag() }}
            <h1>Sign In</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <div>
                {{ form.email(class="form-control", placeholder="Email", size=32) }}
            </div>
            <div>
                {{ form.password(class="form-control", placeholder="Password", size=32) }}
            </div>
            <a href="#">Forgot your password?</a>
            <button class="button">{{ form.submit.label.text }}</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start your journey with us</p>
                <a href="{{ url_for('main.signup') }}"><button class="ghost">Sign Up</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
